.gallery-fragment-editor{
    padding: 15px;
}

.gallery-fragment-editor input[type=file]{
    position:absolute;
    visibility: hidden;
}

.gallery-fragment-editor .latte-item.file{
    margin: 0 15px 15px 0;
}