<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-class="AddressViewBase">

    <div>
        <div>Name</div>
        <div><input data-property="txtName" type="text"/></div>
    </div>
    <div>
        <div>Phone</div>
        <div><input data-property="txtPhone" type="text"/></div>
    </div>
    <div>
        <div>Line 1</div>
        <div><input data-property="txtLine1" type="text"/></div>
    </div>
    <div>
        <div>Line 2</div>
        <div><input data-property="txtLine2" type="text"/></div>
    </div>
    <div>
        <div>Line 3</div>
        <div><input data-property="txtLine3" type="text"/></div>
    </div>
    <div>
        <div>City</div>
        <div><input data-property="txtCity" type="text"/></div>
    </div>
    <div>
        <div>Country</div>
        <div><input data-property="txtCountry" type="text"/></div>
    </div>
    <div>
        <div>Zip</div>
        <div><input data-property="txtZip" type="text"/></div>
    </div>
    <div>
        <div data-event="click:continue_Click" class="payment-cta">Continue</div>
    </div>
</div>
</body>
</html>