<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-class="AddressViewBase" class="payment-view">
    <div data-property="inFirstName" class="field">
        <div class="name" >First Name</div>
        <div class="input"><input data-property="txtFirstName" type="text"/></div>
    </div>
    <div data-property="inLastName" class="field">
        <div class="name" >Last Name</div>
        <div class="input"><input data-property="txtLastName" type="text"/></div>
    </div>
    <div class="field" style="display: none;">
        <div class="name" >Name</div>
        <div class="input"><input data-property="txtName" type="text"/></div>
    </div>
    <div data-property="inPhone" class="field" style="display: none;">
        <div class="name" >Phone</div>
        <div class="input"><input data-property="txtPhone" type="text"/></div>
    </div>
    <div data-property="inLine1" class="field">
        <div class="name" >Street (1)</div>
        <div class="input"><input data-property="txtLine1" maxlength="128" type="text"/></div>
    </div>
    <div data-property="inLine2" class="field">
        <div class="name" >Street (2)</div>
        <div class="input"><input data-property="txtLine2" type="text"/></div>
    </div>
    <div data-property="inLine3" class="field">
        <div class="name" >Apt, Suite, etc (Optional)</div>
        <div class="input"><input data-property="txtLine3" type="text"/></div>
    </div>
    <div data-property="inCity" class="field">
        <div class="name" >City</div>
        <div class="input"><input data-property="txtCity" type="text"/></div>
    </div>
    <div data-property="inState" class="field">
        <div class="name" >State</div>
        <div class="input"><input data-property="txtState" type="text"/></div>
    </div>
    <div data-property="inCountry" class="field">
        <div class="name" >Country</div>
        <div class="input"><input data-property="txtCountry" type="text"/></div>
    </div>
    <div data-property="inZip" class="field">
        <div class="name" >Postal Code</div>
        <div class="input"><input data-property="txtZip" type="text"/></div>
    </div>
</div>
</body>
</html>