<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div data-class="CartViewBase" class="payment-view cart-view">
        <header data-property="header"></header>

        <h1>Shopping Cart</h1>

        <div class="items-list">
            <div class="list-headers row">
                <div class="col s6">Item</div>
                <div class="col s2">Price</div>
                <div class="col s2">Qty</div>
                <div class="col s2">Total</div>
            </div>
            <div class="list-rows">
                <div class="item-row row">
                    <div class="col s6 item-name">
                        <img src="" alt=""/>
                        <div class="name-label">Item Name</div>
                    </div>
                    <div class="col s2 item-price">207.00</div>
                    <div class="col s2 item-qty"><input type="text" value="1"></div>
                    <div class="col s2 item-total">$414.00</div>
                </div>
                <div class="item-row row">
                    <div class="col s6 item-name">
                        <img src="" alt=""/>
                        <div class="name-label">Item Name</div>
                    </div>
                    <div class="col s2 item-price">207.00</div>
                    <div class="col s2 item-qty"><input type="text" value="1"></div>
                    <div class="col s2 item-total">$414.00</div>
                </div>
            </div>

        </div>

        <footer data-property="footer">All rights reserved</footer>
    </div>
</body>
</html>