<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-class="CustomerViewBase">

    <div>
        <div>First Name</div>
        <div><input data-property="txtFirstName" type="text"/></div>
    </div>
    <div>
        <div>Last Name</div>
        <div><input data-property="txtLastName" type="text"/></div>
    </div>
    <div>
        <div>Email</div>
        <div><input data-property="txtEmail" type="text"/></div>
    </div>
    <div>
        <div data-event="click:continue_Click" class="payment-cta">Continue</div>
    </div>
</div>
</body>
</html>