.opp-cc-dialog{
    border:solid 1px silver;
    border-radius: 10px;
}

.payment-cta{
    background: #43AEF8;
    color: white;
    cursor: pointer;
    padding: 20px 65px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 5px 0 #1F8FF9;
    margin: 20px 50px 50px 50px;
}

.payment-cta:hover{
    opacity: 0.9;
}

.payment-cta:active{
    margin-top: 30px;
    padding-bottom: 10px;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
}

.payment-view{
    color: gray;
    overflow: auto;
}

.payment-view a{
    color: #43AEF8;
    text-decoration: none;
}

.payment-view a:hover{
    text-decoration: underline;
}

.payment-view h1{
    color: black;
}

.payment-view p{
    font-size: smaller;
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

.payment-view footer{
    border-top: solid 1px #f0f0f0;
    font-size: smaller;
    padding: 30px;
    margin-top: 30px;
}

.payment-view .back-nav{
    margin-left: 20px;
    text-align: left;
    padding: 30px 0;
}

.payment-view .order-detail{
    background: #f0f0f0;
    border-top: solid 1px  #e0e0e0;
    border-bottom: solid 1px  #e0e0e0;
    padding: 30px 0;
}

.payment-view .payment-progress{
    margin: 0 auto 20px auto;
    width: 130px;
}

.payment-view .payment-progress::after{
    clear:both;
    font-size: 1px;
    color: transparent;
    content: '.';
    display: block;
}

.payment-view .payment-progress .path{
    width: 30px;
    height: 2px;
    background: #ccc;
    float: left;
    margin-top: 7px;
}

.payment-view .payment-progress .node{
    width: 10px;
    height: 10px;
    background: #ccc;
    border: solid 3px white;
    /*box-shadow: 0 0 0 3px #ccc;*/
    border-radius: 100%;
    float: left;
}

.payment-view .payment-progress .node.active{
    background: #43AEF8;
    border: solid 3px white;
    /*box-shadow: 0 0 0 3px #43AEF8;*/
}

.payment-view .field{
    margin: 20px auto;
    width: 400px;
    text-align: left;
}

.payment-view .input input[type=text],
.payment-view .input input[type=password],
.payment-view .input select,
.payment-view .input textarea{
    border: solid 1px silver;
    width: 400px;
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.payment-view .input select{
    width: auto !important;
}


.payment-view .input input[type=text]:focus,
.payment-view .input input[type=password]:focus,
.payment-view .input select:focus,
.payment-view .input textarea:focus{
    /*outline-offset: 10px;*/
    outline: none;
    border-color: dodgerblue;
}

.payment-view .extra{
    font-size: smaller;
    opacity: 0.6;
    margin-top: 5px;
}

.payment-view h2{
    text-align: left;
    font-weight: normal;
    font-size: 1.2em;
    margin: 30px auto 10px auto;
    color: #333;
    width: 400px;
}

.payment-view .address-text{
    margin: 0 30px;
    text-align: left;
}

.payment-view .clickable-option{
    border-top: solid 1px silver;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.payment-view .clickable-option:hover{
    background-color:#e7f3fb;
}

.payment-view .clickable-option::after{
    clear: both;
    display: block;
    font-size: 1px;
    color: transparent;
    content: '.';
    visibility: hidden;
}

.payment-view .clickable-options{
    width: 500px;
    margin: auto;
}

.payment-view .clickable-options > div:first-child{
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.payment-view .clickable-options > div:last-child{
    margin-bottom: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: solid 1px silver
}

.payment-view .clickable-options > .content{
    border-top: solid 1px silver;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
    background: #fafafa;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    transition: height 1s;
}

.payment-view .clickable-option .radio{
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: silver;
    margin-right: 10px;
}

.payment-view .clickable-option.checked{
    color: black;
}

.payment-view .clickable-option.checked .radio{
    background-color: #43AEF8;
}

.payment-view .clickable-option .label{
    float: left;
}

.payment-view .clickable-option .side{
    float: right;
}

@media (min-width: 801px){

}

@media (max-width:800px){
}

@media (max-width:640px){
    .payment-view p{
        margin: 0 20px;
    }

    .payment-view .payment-progress{
        display: none;
    }
    .payment-view .field{
        margin: 20px;
        width: auto;
    }
    .payment-view .input input[type=text],
    .payment-view .input input[type=password],
    .payment-view .input textarea{
        width: 90%;
    }

    .payment-view .clickable-options{
        width: auto;
    }

    .payment-cta{
        margin: 20px 0 0 0;
        width: 90%;
        padding: 20px 0;
    }

    .payment-view h2{
        width: auto;
        margin: 30px 20px 0px 20px;
    }
}