<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Pay Credit Card</title>
    <link href="opp-credit-card.css" rel="stylesheet">
</head>
<body>
<div data-class="OpenPayCCViewBase" class="opp-cc-dialog">
    <!-- FORM STRUCTURE NEEDED FOR OPENPAY CONNECTION -->
    <form action="#" method="POST" id="payment-form" data-property="form">
        <input type="hidden" name="token_id" id="token_id" data-property="tokenId">
        <div>
            <h2>Tarjeta de crédito o débito</h2>
            <div>
                <div>
                    <div><h4>Tarjetas de crédito</h4></div>
                    <div><h4>Tarjetas de débito</h4></div>
                </div>
                <div>
                    <div>
                        <label>Nombre del titular</label><input type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name" value="jose manuel mendez poo">
                    </div>
                    <div>
                        <label>Número de tarjeta</label><input type="text" autocomplete="off" data-openpay-card="card_number" value="4242424242424242"></div>
                </div>
                <div>
                    <div>
                        <label>Fecha de expiración</label>
                        <div><input type="text" placeholder="Mes" data-openpay-card="expiration_month" value="07"></div>
                        <div><input type="text" placeholder="Año" data-openpay-card="expiration_year" value="20"></div>
                    </div>
                    <div><label>Código de seguridad</label>
                        <div><input type="text" placeholder="3 dígitos" autocomplete="off" data-openpay-card="cvv2"></div>
                    </div>
                </div>
                <div><div>Transacciones realizadas vía:</div>
                    <div>Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
                </div>
                <div>
                    <a id="pay-button" data-property="btnPay">Pagar</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>