.opp-cc-dialog{
    position: fixed;
    border: solid 1px gray;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    top: 30px;
    width: 800px;
    left: 50%;
    margin-left:-400px;
    background: #fff;
}