<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Pay Credit Card</title>
    <link href="opp-credit-card.css" rel="stylesheet">
</head>
<body>
<div data-class="OpenPayCCViewBase" class="opp-cc-dialog">
    <!-- FORM STRUCTURE NEEDED FOR OPENPAY CONNECTION -->
    <form action="#" method="POST" id="payment-form" data-property="form">
        <input type="hidden" name="token_id" id="token_id" data-property="tokenId">
        <div data-property="cardViewElement">
        </div>
    </form>
</div>
</body>
</html>