<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipping Method</title>
</head>
<body>
<div data-class="ShippingViewBase" class="payment-view">
    <header data-property="header"></header>
    <h1>Shipping</h1>

    <div class="payment-progress">
        <div class="node"></div>
        <div class="path"></div>
        <div class="node active"></div>
        <div class="path"></div>
        <div class="node"></div>
    </div>

    <div class="order-detail" data-property="orderDetail">
        Order Detail
    </div>

    <h2>Shipping Address</h2>
    <div class="address-text">
        <div data-property="lblCustomer">John Doe</div>
        <div data-property="lblStreet">302B Baker Street</div>
        <div data-property="lblLocation">NW16XE London</div>
        <div data-property="lblCountry">United Kingdom</div>
        <a href="javascript:void(0)">Edit shipping address</a>
    </div>

    <h2>Shipping Method</h2>
    <div class="clickable-options">
        <div class="clickable-option">
            <div class="radio checked"></div>
            <div class="label">Standard Shipping</div>
            <div class="side">$ 0.00</div>
        </div>
    </div>


    <div>
        <div class="payment-cta">Continue to payment method</div>
    </div>
    <footer data-property="footer">All rights reserved</footer>

</div>
</body>
</html>