
.cms-main-view.latte-view > .top-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6383e+0,f67638+100 */
    background: #f6383e; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6383e 0%, #f67638 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f6383e 0%,#f67638 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f6383e 0%,#f67638 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6383e', endColorstr='#f67638',GradientType=0 ); /* IE6-9 */

}

.cms-main-view.latte-view > .top-bar > .logo:hover{
    animation: spin 0.3s linear;
}
.cms-main-view.latte-view > .top-bar > .logo{
    background: url(/fragment/latte/releases/fragment/support/imgs/triangle-white.png) no-repeat;
    background-size: 100% auto;
    width: 25px;
    height: 25px;
    left: 20px;
    margin-top: -12.5px;
    top: 50%;
    position: absolute;
}

.cms-main-view.latte-view > .top-bar > .logout{
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    color: white;
    cursor: pointer;
    padding: 11px 20px;
}

.cms-main-view.latte-view > .top-bar > .logout .latte-uielement.latte-item.icon.size-16{
    float: right;
    margin-left: 10px;
}

.cms-main-view.latte-view > .top-bar > .logout:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.cms-main-view.latte-view > .container{
    top: 35px;
}

@keyframes spin { 100% { transform:rotate(120deg); } }
