.latte-view.image-editor{
    background: black;
    color: white;
}

.latte-view.image-editor .clickable.selected{
    background-color: #555;
    border-color: transparent;
}

.latte-view.image-editor .latte-item.progress .container{
    border: none;
    background-color: #333;
}

.latte-view.image-editor .latte-item.progress .bar{
    height: 1px;
    background-color: white;
}

.latte-view.image-editor > .container .canvas.centered-x{
    position:absolute;
    left: 50%;
}

.latte-view.image-editor > .container .canvas.centered-y{
    position:absolute;
    top: 50%;
}

.latte-view.image-editor > .container .canvas img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.latte-view.image-editor > .container .canvas .cropper{
    border: solid 1px magenta;
    position: absolute;
}

.latte-view.image-editor > .container .canvas .cropper-overlay{
    position: absolute;
    background: black;
    opacity: 0.75;
}
.rect-checker{
    background: rgba(255, 0, 0, 0.2);
    position: fixed;
}

.latte-view.image-editor > .container .canvas .cropper-overlay.top{
    left: 0;
    right: 0;
    top: 0;
}

.latte-view.image-editor > .container .canvas .cropper-overlay.left{
    left: 0;
    top: 0;
    bottom: 0;
}

.latte-view.image-editor > .container .canvas .cropper-overlay.right{
    right: 0;
    top: 0;
    bottom: 0;
}

.latte-view.image-editor > .container .canvas .cropper-overlay.bottom{
    bottom: 0;
    left: 0;
    right: 0;
}