/* 
    Document   : ListViewItem
    Created on : Oct 3, 2012, 11:24:42 AM
    Author     : josemanuel
    Description:
        Purpose of the stylesheet follows.
*/

.latte-item.selectable.list{
    /*margin-bottom: 1px;*/
    padding: 10px;
}

.latte-item.list > .icon{
    float: left;
}

.latte-item.list > .columns > div{
    float: left;
    overflow: hidden;
    position: relative;
}

.latte-item.list > .columns > div{
    min-height: 5px;
}

/*.latte-item.list > .columns > div:not(:first-child){*/
    /*padding-left: 5px;*/
/*}*/

.latte-item.list > .columns > div .latte-item.label{
    margin-top: 2px;
}

.latte-item.list > .columns > div:after{
    display: block;
    position: absolute;
    content: '.';
    top: 0;
    width: 25px;
    right: 0;
    bottom: 0;
    color: transparent;
    border: none;
    background: #ffffff;
    background: linear-gradient(-90deg,  #ffffff 0%, transparent 100%);
}

.latte-item.list.hover > .columns > div:after{
    display: block;
    position: absolute;
    content: '.';
    top: 0;
    width: 25px;
    right: 0;
    bottom: 0;
    color: transparent;
    border: none;
    background: #ffffff;
    background: linear-gradient(-90deg,  #EFEFEF 0%, transparent 100%);
}

.latte-item.list.selected > .columns > div:after{
    display: block;
    position: absolute;
    content: '.';
    top: 0;
    width: 25px;
    right: 0;
    bottom: 0;
    color: transparent;
    border: none;
    background: #ffffff;
    background: linear-gradient(-90deg,  #4285F4 0%, transparent 100%);
}

.latte-view.list.focusable:not(:focus) .latte-item.selectable.selected > .columns > div:after{
    display: block;
    position: absolute;
    content: '.';
    top: 0;
    width: 25px;
    right: 0;
    bottom: 0;
    color: transparent;
    border: none;
    background: #ffffff;
    background: linear-gradient(-90deg,  gray 0%, transparent 100%);
}